@import '../common_sty/normalize.css';
html,
body {
    width: 100%;
    height: 100%;
    #app {
        width: 100%;
        height: 100%;
        &>.ivu-layout {
            height: 100%;
            &>.ivu-layout-has-sider{
                &>.ivu-layout-content{
                    &>.base-page-container{
                        height: 100%;
                    }
                }
            }
        }
    }
}
