@import '../common_sty/normalize.css';
@headerHeight: 60px;
@siderWidth: 220px;
@breadcrumbHeight: 40px;
@contentBgColor: #f3f3f4;
html,
body {
    width: 100%;
    height: 100%;
    #app {
        width: 100%;
        height: 100%;
        & > .admin-page-container {
            width: 100%;
            height: 100%;
            & > div {
                width: 100%;
                height: 100%;
                & > .handle-page-layout-style {
                    height: 100%;
                    display: flex;
                    & > .layout-sider {
                        width: @siderWidth;
                        background-color: #2a303e;
                        & > .logo-container {
                            text-indent: -9999px;
                            height: 90px;
                            margin: 0px;
                            background: url('../../images/logo_img.png') no-repeat center center;
                            background-size: 200px 60px;
                        }
                        & > .sider-menu {
                            .el-menu-item.is-active {
                                border-right: 3px solid #19a5fc;
                            }
                        }
                    }
                    & > .layout-body {
                        flex-grow: 1;
                        width: 0px;
                        background-color: #eeeff3;
                        & > .layout-header {
                            height: @headerHeight;
                            background-color: #3d495c;
                            & > .el-col {
                                height: 100%;
                            }
                            & > .right-item {
                                padding-right: 15px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                & > .head-portrait {
                                    width: 32px;
                                    height: 32px;
                                    margin-right: 10px;
                                    & > img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 50%;
                                        display: block;
                                        background-color: #ffffff;
                                    }
                                }
                                & > .header-handle-dropdown {
                                    color: #ffffff;
                                }
                            }
                        }
                        & > .layout-content {
                            box-sizing: border-box;
                            height: 100%;
                            padding-top: @headerHeight;
                            margin-top: -@headerHeight;
                            & > .breadcrumb-container {
                                height: @breadcrumbHeight;
                                box-sizing: border-box;
                                padding: 13px 15px;
                            }
                            & > .content-container {
                                box-sizing: border-box;
                                height: 100%;
                                padding-top: @breadcrumbHeight;
                                margin-top: -@breadcrumbHeight;
                                & > .common-page-container {
                                    height: 100%;
                                    padding: 0px 15px;
                                    overflow-y: auto;
                                }
                                & > .list-page-container {
                                    width: 100%;
                                    height: 100%;
                                    padding: 0px 15px 15px;
                                    box-sizing: border-box;
                                    & > .page-container {
                                        height: 100%;
                                        & > .table-container {
                                            height: 100%;
                                            box-sizing: border-box;
                                            padding-bottom: 40px;
                                            & > .el-table {
                                                height: 100% !important;
                                                border-radius: 4px;
                                            }
                                        }
                                        & > .pagination-container {
                                            height: 40px;
                                            margin-top: -40px;
                                            padding-top: 8px;
                                            box-sizing: border-box;
                                            display: flex;
                                            justify-content: flex-end;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
