@import '../common_sty/normalize.css';
html,
body {
  width: 100%;
  height: 100%;
}
html #app,
body #app {
  width: 100%;
  height: 100%;
}
html #app > .admin-page-container,
body #app > .admin-page-container {
  width: 100%;
  height: 100%;
}
html #app > .admin-page-container > div,
body #app > .admin-page-container > div {
  width: 100%;
  height: 100%;
}
html #app > .admin-page-container > div > .handle-page-layout-style,
body #app > .admin-page-container > div > .handle-page-layout-style {
  height: 100%;
  display: flex;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-sider,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-sider {
  width: 220px;
  background-color: #2a303e;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-sider > .logo-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-sider > .logo-container {
  text-indent: -9999px;
  height: 90px;
  margin: 0px;
  background: url('../../images/logo_img.png') no-repeat center center;
  background-size: 200px 60px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-sider > .sider-menu .el-menu-item.is-active,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-sider > .sider-menu .el-menu-item.is-active {
  border-right: 3px solid #19a5fc;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body {
  flex-grow: 1;
  width: 0px;
  height: 100%;
  background-color: #eeeff3;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header {
  height: 60px;
  background-color: #3d495c;
  position: relative;
  z-index: 2;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .el-col,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .el-col {
  height: 100%;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item {
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container {
  display: flex;
  align-items: center;
  border-left: 1px solid #2a303e;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item:hover,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item:hover {
  background-color: #2a303e;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item > i,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item > i {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item > sup.el-badge__content,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item > sup.el-badge__content {
  top: 2px;
  right: 16px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item.handle-is-active,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .handle-icon-item.handle-is-active {
  background-color: #2a303e;
  color: #19a5fc;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .between-space,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .between-space {
  width: 15px;
  height: 32px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container {
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0px;
  width: 300px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.2);
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container > .sider-message-title,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container > .sider-message-title {
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0px 20px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container > .sider-message-title > span,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container > .sider-message-title > span {
  flex-grow: 1;
  width: 0px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container > .sider-message-title > i,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .handle-icon-container > .sider-message-container > .sider-message-title > i {
  width: 20px;
  font-weight: 600;
  font-size: 24px;
  color: #999999;
  cursor: pointer;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #2a303e;
  position: relative;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .head-portrait,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .head-portrait {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .head-portrait > img,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .head-portrait > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .user-name,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .user-name {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > i,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > i {
  width: 16px;
  margin-left: 5px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container {
  position: absolute;
  width: 100%;
  min-width: 140px;
  height: 0px;
  overflow: hidden;
  top: 100%;
  left: 0px;
  transition: height 0.3s;
  box-sizing: border-box;
  background-color: #2a303e;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > .padding-space,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > .padding-space {
  height: 14px;
  padding: 0px 15px;
  background-color: #3d495c;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li {
  padding: 0px 15px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li > i,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li > i {
  width: 32px;
  text-align: center;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li > span,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li > span {
  width: 0px;
  flex-grow: 1;
  margin-left: 10px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li:hover,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > li:hover {
  color: #19a5fc;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > .logout-item,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info > .dropdown-container > .logout-item {
  height: 50px;
  margin-top: 5px;
  border-top: 1px solid #3d495c;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info:hover,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info:hover {
  color: #19a5fc;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info:hover > .dropdown-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .user-info:hover > .dropdown-container {
  height: 150px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-left: 1px solid #2a303e;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container > .handle-icon-item,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container > .handle-icon-item {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container > .handle-icon-item > i,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container > .handle-icon-item > i {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container > .date-details,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-header > .right-item > .current-date-container > .date-details {
  font-size: 14px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content {
  box-sizing: border-box;
  height: 100%;
  padding-top: 60px;
  margin-top: -60px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .breadcrumb-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .breadcrumb-container {
  height: 40px;
  box-sizing: border-box;
  padding: 13px 15px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container {
  box-sizing: border-box;
  height: 100%;
  padding-top: 40px;
  margin-top: -40px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .common-page-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .common-page-container {
  height: 100%;
  padding: 0px 15px 15px;
  box-sizing: border-box;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .common-page-container > .common-page-content,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .common-page-container > .common-page-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #ffffff;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container {
  width: 100%;
  height: 100%;
  padding: 0px 15px 15px;
  box-sizing: border-box;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container {
  height: 100%;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container > .table-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container > .table-container {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container > .table-container > .el-table,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container > .table-container > .el-table {
  height: 100% !important;
  border-radius: 4px;
}
html #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container > .pagination-container,
body #app > .admin-page-container > div > .handle-page-layout-style > .layout-body > .layout-content > .content-container > .list-page-container > .page-container > .pagination-container {
  height: 40px;
  margin-top: -40px;
  padding-top: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.sider-message-fade-enter-active {
  transition: all 0.5s ease;
}
.sider-message-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.sider-message-fade-enter,
.sider-message-fade-leave-to {
  transform: translateX(300px);
  opacity: 0;
}
